div {
    float: left;
}

.prueba, .prueba2 {
    background: bisque;
    width: 100px;
    height: auto;
    color:brown;
    border: solid 1px black;
    text-align: center;
    display: block;
    

}